<div>
    <b>Ticket Booking History</b>
</div>
<br />
<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Airline</th>
                <th scope="col">Price</th>
                <th scope="col">Seats</th>
                <th scope="col" style="text-align:center;">Options</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let history of availableTickets | async">
                <td>{{history.ticketDate}}</td>
                <td>{{history.airLineName}}</td>
                <td>{{history.price}}</td>
                <td>{{history.seatCount}}</td>
                <td> <button type="button" class="btn btn-success"
                        (click)="onDetailsClick(history.id)">Details</button>&nbsp;</td>
            </tr>
        </tbody>
    </table>
</div>