<b>Book Flights!</b><br />
<div class="part1">
    <nav class="navbar navbar-expand navbar-dark">
        <div [hidden]="submitted" style="width: 400px;">
            <form>
                <fieldset>
                    <label>
                        <input type="radio" [(ngModel)]="tripType" name="tripType" [value]="0" [checked]="options"
                            required>
                        <span> OneWay</span>
                    </label>
                    <div class="form-group">
                        <label for="name">From City: </label>
                        <select [(ngModel)]="flightOne.cityFrom" name="FromCity">
                            <option *ngFor="let air of cities" [ngValue]="air">{{air}}</option>
                        </select>
                    </div>
                    <div class=" form-group">
                        Departure Journey Date: <input type="date" [(ngModel)]="departureDate" name="departureDate"
                            required>
                        <br /><br />
                        Departure Journey Time: <input type="time" [(ngModel)]="flightOne.startTime"
                            name="departureTime" required>
                    </div>
                </fieldset>
            </form>
        </div>
    </nav>
</div>
<div class="part2">
    <nav class="navbar navbar-expand navbar-dark">
        <form>
            <fieldset>
                <label>
                    <input type="radio" [(ngModel)]="tripType" name="tripType" [value]="1" [checked]="!options"
                        required>
                    <span> TwoWay</span>
                </label>
                <div class="form-group">
                    <label for="name">To City: </label>
                    <select [(ngModel)]="flightOne.cityTo" name="cityFrom">
                        <option *ngFor="let air of cities" [ngValue]="air">{{air}}</option>
                    </select>
                </div>
                <div *ngIf="tripType == 1">
                    <div class=" form-group">
                        Return Journey Date: <input type="date" [(ngModel)]="returnDate" name="returnDate" required>
                        <br /><br />
                        Return Journey Time: <input type="time" [(ngModel)]="flightTwo.startTime" name="returnTime"
                            required>
                    </div>
                </div>
            </fieldset>
        </form>
    </nav>
    <button class="btn btn-info" (click)="onSearchFlights()">Search Flights</button>
</div>
<div class="part3" *ngIf="isoneWay">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Airline</th>
                <th scope="col">From</th>
                <th scope="col">To</th>
                <th scope="col">Price</th>
                <th scope="col" style="text-align:center;">Select</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let oneWay of oneWayflights">
                <td *ngIf="oneWay.isAvailable">{{oneWay.airLineName}}</td>
                <td *ngIf="oneWay.isAvailable">{{oneWay.cityFrom}}</td>
                <td *ngIf="oneWay.isAvailable">{{oneWay.cityTo}}</td>
                <td *ngIf="oneWay.isAvailable">{{oneWay.ticketCost}}</td>
                <td *ngIf="oneWay.isAvailable"><input type="radio" [(ngModel)]="oneSelect" name="oneWaySelect"
                        [value]="oneWay.id"></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="part4" *ngIf="roundWay">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Airline</th>
                <th scope="col">From</th>
                <th scope="col">To</th>
                <th scope="col">Price</th>
                <th scope="col" style="text-align:center;">Select</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let twoWay of twoWayflights">
                <td *ngIf="twoWay.isAvailable">{{twoWay.airLineName}}</td>
                <td *ngIf="twoWay.isAvailable">{{twoWay.cityFrom}}</td>
                <td *ngIf="twoWay.isAvailable">{{twoWay.cityTo}}</td>
                <td *ngIf="twoWay.isAvailable">{{twoWay.ticketCost}}</td>
                <td *ngIf="twoWay.isAvailable"><input type="radio" [(ngModel)]="twoSelect" name="twoWaySelect"
                        [value]="twoWay.id"></td>
            </tr>
        </tbody>
    </table>
</div>
<div *ngIf="showConfirm">
    <button class="btn btn-success confirmBtn" (click)="onConfirmBooking()">Confirm Booking</button>
</div>