button {

  position: fixed;
  top: 300px;
  left: 700px;
}

b {
  margin-left: 30%;
  font-size: 30px;
  font-style: italic;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  min-height: 100%;
}

.part1 {
  padding: 0;
  margin: 0;
  position: fixed;
  // background-color: red;
  width: 40%;
  height: 30%;
  margin-left: 0px;
  float: left
}

.part2 {
  padding: 0;
  margin: 0;
  position: fixed;
  // background-color: blue;
  width: 30%;
  height: 30%;
  margin-left: 30%;
  float: right
}

.part3 {
  padding: 0;
  margin: 0;
  position: fixed;
  // background-color: green;
  width: 30%;
  margin-top: 18%;
  float: left
}

.part4 {
  padding: 0;
  margin: 0;
  position: fixed;
  width: 30%;
  margin-top: 18%;
  margin-left: 30%;
  float: right
}

.confirmBtn {
  background-color: red;
  position: fixed;
  top: 750px;
  left: 700px;
}

// td {
//   width: 150px;
//   text-align: center;
//   border: 1px solid black;
//   padding: 5px;
// }

// table {
//   border-collapse: collapse;

// }

// .leftCont {
//   float: left;
//   width: 50%;
//   margin-top: 40px;
// }

// .rightCont {
//   float: right;
//   width: 50%;
//   // height: 100px;
// }

// .topCont {
//   width: 50%;
// }

// .tblLeftCon {
//   float: left;
// }