td {
  width: 150px;
  text-align: center;
  border: 1px solid black;
  padding: 5px;
  margin-left: 20%;
}
button {
  border-radius: 10px;
  background-color: rgb(192, 153, 68);
}
b{
  font-weight: bold;
  font-family: 'Lucida Sans',
  'Lucida Sans Regular',
  'Lucida Grande',
  'Lucida Sans Unicode',
  Geneva,
  Verdana,
  sans-serif;
  color :maroon;
  font-size:24px;
  margin-left: 25%;
}