<div class="alert alert-success alert-dismissible" *ngIf="isBlocked">
    <!-- <a routerLink="manageSchedules" class="close" data-dismiss="alert" aria-label="close">&times;</a> -->
    {{message}} Flight successfully!
</div>

<b>List of Available Airlines</b>
<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Airline Name</th>
                <th scope="col">Flight Number</th>
                <th scope="col">Starting City</th>
                <th scope="col">Destination City</th>
                <th scope="col">Availble Seats</th>
                <th scope="col">Ticket Price</th>
                <th scope="col" style="text-align:center;">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let airline of availbleFlights | async">
                <td>{{airline.airLineName}}</td>
                <td>{{airline.flightNumber}}</td>
                <td>{{airline.cityFrom}}</td>
                <td>{{airline.cityTo}}</td>
                <td>{{airline.rowSeats}}</td>
                <td>{{airline.ticketCost}}</td>
                <button type="button" class="btn btn-success" (click)="onManageClick(airline.id)">Manage</button>&nbsp;
                <button type="button" class="btn btn-warning" (click)="onBlockClick(airline.id)">Block</button>&nbsp;
                <button type="button" class="btn btn-info" (click)="onUnblockClick(airline.id)">UnBlock</button>&nbsp;
            </tr>
        </tbody>
    </table>
</div>